@use '../_config.scss' as config;

.dropdown {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;


    .title {
        background-color: config.$primary-color;
        color: white;
        border-radius: 10px;
        padding: 0 20px;
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .show-btn {
            color: white;
            background: none;
            border: none;
            font-size: 30px;
            transform: rotate(-90deg);
        }
    }

    .content {
        padding: 20px;
        border-radius: 0 0 10px 10px;
        background-color: config.$secondary-color;
        color: config.$primary-color;

        /* used to fill height and justify center */
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        li {
            text-decoration: none;
            list-style: none;
        }
    }
}