@use './_config.scss' as config;

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 40px 100px;

    @include config.screen-max(config.$tablet-max-width) {
        margin: 30px 30px;
    }

    @include config.screen-max(config.$phone-max-width) {
        margin: 0 30px;
    }

    #logo {
        width: 210px;

        @include config.screen-max(config.$tablet-max-width) {
            width: 175px;
        }

        @include config.screen-max(config.$phone-max-width) {
            width: 145px;
        }
    }

    .links {
        font-size: 24px;
        text-decoration: none;

        @include config.screen-max(config.$tablet-max-width) {
            font-size: 18px;
        }

        @include config.screen-max(config.$phone-max-width) {
            font-size: 12px;
        }

        :nth-child(n) {
            margin-left: 30px;
            color: config.$primary-color;
            text-decoration: none;
        }

        .current-link {
            text-decoration: underline;
        }
    }
}